<div class = "pin-bord">
   <div class= "pin-btn">
    <div class= explain>
     ホテル・乗り物など確定事項を投稿
    </div>
     <%= link_to image_tag('add.png',width: 40), new_prefecture_pin_path, class: "pin-create" %>
   </div>

 <div class= "pins">
   <% @pins.each do |pin| %>
     <div class="pin-name">
      <div class = "pinpng">
      <%= image_tag("pin.png", width: 30 ) %>
      </div>
      <%= pin.title.name %>
      <%= image_tag pin.image, class: 'pin-image' if pin.image.attached? %>
      <div class = "trashpng">
      <%= link_to image_tag('trash.png', width: 20), prefecture_pin_path(@prefecture, pin), method: :delete %>
      </div>  
     </div>
   <% end %>
 </div >
</div>
