<body>
 <div class= "place-bord">
    <div class ="place-btn">
    <%= link_to image_tag('add.png',width: 40), new_prefecture_place_path, class: "pin-create" %>
   </div>

   <div class="places">
     <% @places.each do |place| %>
      <div class="place">
        <div class = "place-name">
         <%= place.user.name %>:<%= link_to place.name, place.url , class: "place-url"%>
        </div>
        <div class= "trash-btn">
         <%= link_to image_tag('trash.png', width: 20), prefecture_place_path(@prefecture, place), method: :delete %>
        </div>
      </div>
     <% end %>
   </div>
  </div>
</body>

<footer>
 <%= render partial: "pin"%>
</footer>